.flex-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-container {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  display: flex;
  width: 140px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #fff;
  background: var(--primary-blue-01100, #002eff);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media (min-width: 320px) {
  .seller-form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .vehicle-form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .seller-form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .item-nombre {
    grid-column: 2 span;
  }
  .vehicle-form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .seller-form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .item-nombre {
    grid-column: 2 span;
  }
  .vehicle-form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
